
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%= stylesheet_link_tag 'email' %>
</head>
<body>
  <div class="container center-horizontal flex-container">
    <div id="header" class=" center-horizontal flex-container">
      <div class="header-image"><%=image_tag("head.png") %></div>
      <div class="header-image"><%=image_tag("head2.png") %></div>
    </div>
    <div id="main" class="center-horizontal flex-container">
      <div id="title" class="red">
        <p>Hola Propietario Apellido,</p>
      </div>
      <div id="register-description" class="green">
        <p>Has iniciado un registro para publicar tu propiedad en nuestra plataforma, <br>
          <a class="text-link" href="https://www.google.com">los espacios y amenidades</a> son algunos extras que ayudan <br>
          a que tu propiedad se rente más rápido, especifícalos ahora.</p>
      </div>
      <div id="boton-container" class="red">
        <a href="https://www.google.com"><button id="continue-register-button">Continuar Registro</button></a>
      </div>
    </div>
    <div class="flex-container">
      <div id="benefits-title">
        <p>Rentar con homie tiene varios beneficios:</p>
      </div>
    </div>
    <div id="footer" class=" red flex-container">
      <div class="green benefits flex-container">
        <%=image_tag("investigacion.png") %>
        <p>Obten al mejor inquilino</p>
      </div>
      <div class="red benefits flex-container">
        <%=image_tag("apartado.png") %>
        <p>Garantia de pago puntual</p>
      </div>
      <div class="green benefits flex-container">
        <%=image_tag("firma.png") %>
        <p>Protección Juridica</p>
      </div>
    </div>
  </div>


</body>

</html>